/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.cache
.DS_Store
.tmp
*.diff
*.err
*.lock
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db
.bundle
.idea/
.komodotools
.project
.settings/
.tern-project
.tmproj
.vscode/
*.esproj
*.komodoproject
*.sublime-*
browserstack.js
codekit-config.json
prepros.json
